/* .bookmark-card {
border: 1px solid #ddd;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.bookmark-image img {
width: 100%;
height: 200px;
object-fit: cover;
}

.bookmark-info {
padding: 10px 0;
text-align: center;
}

.bookmark-title {
font-size: 18px;
margin-bottom: 5px;
}

.bookmark-category {
font-size: 14px;
color: #888;
}

.bookmark-icon {
background-color: #f0f0f0;
border: none;
padding: 5px 10px;
font-size: 14px;
cursor: pointer;
} */