footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #888888;
  text-align: center;
  font-size: 12px;
  line-height: 88.02%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.Nav{
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: sticky;
}
.title-container{
  widows: 100%;
  height: 100%;
  display: flex;
  align-items: center;

}

.title-logo{
  display: flex;
  align-items: center;
  margin: 20px;
  flex-grow: 1;
}


.logo{
  width: 60px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
}

.hamburger-logo{
  margin-right: 20px;

}

.hamburger {
  width: 60px;
  cursor: pointer;
}


.navmodal {
  position: absolute;
  width: 200px;
  height: 130px;
  right : 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-list {
  padding-left: 30px;
  flex-grow: 1;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  border-bottom: 1px solid #abaaaa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.modal-list:last-child {
  padding-left: 45px;
}
.modal-list:hover{
  background-color: #f6e4f4;
}





/* main */
.Main{
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}